<!DOCTYPE html>
<html>
  <head>
    <title>关于我们</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/about.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li><a href="#">关于我们</a></li>
          <li class="active">公司介绍</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">公司介绍</div>
        </div>
        <div class="about-comoany-box">
          <div class="con-titile">安全、质量、效率！SAFER BETTER FASTER！</div>
          <p class="con-grap">上海拜特尔安全设备有限公司成立于2005年5月，以"安全、质量、效率"为经营理念，遵循"稳健、务实、双赢"的工作原则，经过十多年逐步完善，公司已经建立一支成熟的专业团队。</p>
          <p class="con-grap">公司定位于便携式防爆设备市场，以客户需求为导向，不断推出前瞻性的专业产品！</p>
        </div>
        <div class="about-comoany-box">
          <div class="con-titile">产品服务包括四类：</div>
          <div class="container-fluid class-box">
            <div class="col-sm-3 col-xs-12">
              <div class="class-icons"><img src="assets/images/icons/class1.png"></div>
              <div class="class-text">防爆照相摄像</div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="class-icons"><img src="assets/images/icons/class2.png"></div>
              <div class="class-text">防爆智能终端</div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="class-icons"><img src="assets/images/icons/class3.png"></div>
              <div class="class-text">防爆智能通讯</div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="class-icons"><img src="assets/images/icons/class4.png"></div>
              <div class="class-text">防爆仪器仪表</div>
            </div>
          </div>
          <div class="content-bg">
            <p class="con-grap">凭借诸多的核心技术和创新，公司获得十多项国家发明专利！</p>
            <p class="con-grap">凭借专业团队和良好的业绩，公司与诸多世界知名品牌成功合作！包括：华为HUAWEI、中兴ZTE、尼康NIKON、SONY索尼、三星SAMSUNG等。</p>
            <p class="con-grap">公司严格按照现代公司的先进管理制度，健全公司业务、财务、人事、合同等管理制度，规范运作，合理控制风险，保证公司长期稳健、健康的发展！</p>
            <p class="con-grap">我们始终倡导：尊重社会和自然环境、生命！培养健康、环保的行为方式，让环保意识贯穿我们的工作、生活当中！追求成为有创意和活力的企业，成为有社会责任感的企业公民！追求成为员工引以为荣的企业！</p>
          </div>
        </div>
        <div class="about-comoany-box">
          <div class="con-titile">面向辉煌的二十一世纪，我们与您一起，像您一样，持续努力中！</div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
