<!DOCTYPE html>
<html>
  <head>
    <title>关于我们</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/about.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <div class="">
          <ol class="breadcrumb">
            <li>当前位置：</li>
            <li><a href="#">首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li class="active">发展历程</li>
          </ol>
        </div>
        <div class="">
          <div class="progress-box">
            <div class="progress-title">发展历程</div>
          </div>
          <div class="progress-main">
            <div class="flag-end">
              <img class="flag-icon" src="assets/images/icons/apirpot.png">
            </div>
            <div class="progress-list clearfix">
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">与您一起，像您一样，我们持续努力中！</div>
                  <div class="inner-time">2017</div>
                </div>
              </div>
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">公司推出防爆智能终端PDA 、PAD等产品</div>
                  <div class="inner-time">2016</div>
                </div>
              </div>
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">公司产品成功入围国家安监总局执法装备目录，中标如下地区省级 安监局、海事局、环保局等。区域板块覆盖：江西、上海、山东、 安徽、贵州、云南、广东、广西、西藏、新疆、兵团、江苏、浙江 等</div>
                  <div class="inner-time">2013-2016</div>
                </div>
              </div>
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">公司推出Excam1200系列防爆相机第二代！与第一产品相比，新 产品更加轻巧，外观更加时尚</div>
                  <div class="inner-time">2015.12</div>
                </div>
              </div>
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">公司研发出高端的ZHS2400单反防爆相机，同时通过I/II类双重 防爆认证。5月获得国家发明专利。该产品有诸多创新：国内第一 款通过双重防爆认证的防爆相机；第一次创新将LED闪光灯技术 应用于防爆相机等。诸多创新方案的运用，奠定了公司成为国内 领先的防爆相机防爆摄像机专业供应商的地位</div>
                  <div class="inner-time">2015.3</div>
                </div>
              </div>
              <div class="progress-item">
                <div class="progress-inner flex-m">
                  <div class="inner-content flex-item">公司推出Excam1200系列防爆相机第二代！与第一产品相比，新 产品更加轻巧，外观更加时尚</div>
                  <div class="inner-time">2015.4</div>
                </div>
              </div>
            </div>
            <div class="flag-start">
              <img class="flag-icon" src="assets/images/icons/start.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
