<!DOCTYPE html>
<html>
  <head>
    <title>售后服务</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/afterService.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li><a href="#">服务支持</a></li>
          <li class="active">售后服务</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">售后服务</div>
        </div>

        <div class="news-pages">
          <div class="after-service-content clearfix">
            <div class="content-left">
              <div class="content-title p-space">上海拜特尔安全设备有限公司作为防爆照相摄像、防爆通讯、防爆智能终端、防爆仪器仪表等防爆系列产品专业生产厂家，为您提供完善的保修和维修服务。</div>
              <div class="p-space">
                <div class="p-title">保修范围：</div>
                <p>对于客户购买的我司防爆系列产品，整机（含电池）保修。</p>
              </div>
              <div class="p-space">
                <div class="p-title">保修年限：</div>
                <p>自产品购买之日起一年内，该产品如因本身质量导致故障或产品损坏，凭保修卡及购销凭证复印件免费保修。</p>
              </div>
              <div class="p-space">
                <div class="p-title">保修条件：</div>
                <p>凡属产品质量问题，无条件保修（人为使用不当除外）。在接到客户报修电话后4小时内给予电话响应，提供电话技术支持。</p>
              </div>
              <div class="p-space">
                <div class="p-title">售后流程：</div>
                <div class="step-item">
                  <p>步骤一：前期沟通</p>
                  <p>联系售后刘工 Tel：021-5842 0963，E-mail: liuq@btr-ex.com，电话或邮件沟通故障原因和现象。</p>
                </div>
                <div class="step-item">
                  <p>步骤二：产品返厂</p>
                  <p>产品如需返厂维修，请下载填写“产品保修&维修服务单”的相关信息，打印并随货一同寄至我司；</p>
                  <p>快递建议选用顺丰快递。</p>
                  <p>如属产品质量问题且在保修期内，来回物流费用由我司承担。</p>
                </div>
                <div class="step-item">
                  <p>步骤三：维修费用</p>
                  <p>如属产品质量问题且在保修期内，免费维修；其余情况有偿维修。</p>
                </div>
              </div>
              <div class="p-space">
                <div class="p-title">维修地点和联系方式：</div>
                <p>上海市松江区江田东路185号（宏亿创新科技园）9幢306室</p>
                <p>联系人：刘工   </p>
                <p>电话：021-5842 0963</p>
                <p>E-mail: liuq@btr-ex.com</p>
              </div>
            </div>
            <div class="content-right">
              <img src="assets/images/after-sales.jpg">
            </div>
          </div>
          <div class="download-box">
            <a href="javascript:;" class="download">
              <span class="download-icon">下载文件</span>
            </a>
            <span class="down-info">产品保修&维修服务单</span>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
