<!DOCTYPE html>
<html>
  <head>
    <title>客户案例</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/customer-case.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li class="active">客户案例</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">客户案例</div>
        </div>

        <div class="news-pages">
          <div class="customer-list">
            <div class="customer-item">
              <div class="customer-item-pic">
                <div class="pic-inner">
                  <img src="assets/images/icons/case_logo1.png">
                </div>
              </div>
              <div class="customer-item-con">
                <div class="item-con-title">安全生产监督管理局</div>
                <div class="item-con-text">江西省安监局，新疆兵团安监局，新疆自治区安监局，西藏自治区安监局，陕西省安监局，安徽省安监局，河北省安监局，云南省安监局，广西梧州/贺州/百色等地区安监局，山东德州/菏泽/烟台/威海安监局，广东省安监局、深圳市安监局，浙江嘉兴/安吉/德清/桐乡安监局等。</div>
              </div>
            </div>
            <div class="customer-item">
              <div class="customer-item-pic">
                <div class="pic-inner">
                  <img src="assets/images/icons/case_logo2.png">
                </div>
              </div>
              <div class="customer-item-con">
                <div class="item-con-title">世界知名石油化工化学公司</div>
                <div class="item-con-text">世界知名石油石化公司，如中石油、中石化、中海油、中化集团等以及所属分公司等。具体有中天合创能源有限责任公司化工分公司、联合能源管道有限公司、中石化广元天然气净化有限公司、中石化上海石油分公司、青岛LNG、中石化镇海炼化分公司、中石化海南炼化、中石化贵州石油分公司、南光石油化工有限公司、中海油各分公司、福建LNG有限公司、海南LNG有限公司、中石油江苏液化天然气LNG有限公司、上海液化天然气LNG有限公司、中国石化贵州石油公司、陕西延长石油(集团)有限责任公司、山东天然气管道有限责任公司、巴斯夫、阿克苏诺贝尔等。</div>
              </div>
            </div>
            <div class="customer-item">
              <div class="customer-item-pic">
                <div class="pic-inner">
                  <img src="assets/images/icons/case_logo3.png">
                </div>
              </div>
              <div class="customer-item-con">
                <div class="item-con-title">港航运输单位</div>
                <div class="item-con-text">中化国际物流有限公司、中国长江航运集团南京分公司、江苏省苏州/无锡/常州交通运输局、海南八所港务有限责任公司、寿光港有限公司、广东佛山交通局、招商局物流集团南京有限公司、中航油上海物流有限公司、大连集装箱码头物流有限公司、大连港湾液体储罐码头有限公司、广州港石油化工港务分公司、沧州港航管理局、东莞市港航管理局、山东联合能源管道输送有限公司 等。</div>
              </div>
            </div>
            <div class="customer-item">
              <div class="customer-item-pic">
                <div class="pic-inner">
                  <img src="assets/images/icons/case_logo4.png">
                </div>
              </div>
              <div class="customer-item-con">
                <div class="item-con-title">海事局</div>
                <div class="item-con-text">青岛海事局、宁波海事局、上海海事局、洋浦海事局、连云港海事局、 江阴海事局、南通海事局、大连海事局、东莞海事局等。</div>
              </div>
            </div>
            <div class="customer-item">
              <div class="customer-item-pic">
                <div class="pic-inner">
                  <img src="assets/images/icons/case_logo5.png">
                </div>
              </div>
              <div class="customer-item-con">
                <div class="item-con-title">环境保护局</div>
                <div class="item-con-text">上海市环境监察总队、上海市奉贤区环境监察支队 、重庆市环境监察总队、重庆万盛经济开发区环保局、四川省凉山彝族自治州宁南县环境保护局等。</div>
              </div>
            </div>
          </div>
          <div class="news-pages-bottom clearfix">
            <div class="news-page-box">
              <ul class="clearfix">
                <li class="active"><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">5</a></li>
                <li class="space"></li>
                <li><a href="javascript:;">10</a></li>
              </ul>
            </div>
            <div class="news-page-next clearfix">
              <a href="javascript:;" class="news-page-pre">上一页</a>
              <a href="javascript:;" class="news-page-next active">下一页</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
