<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/vm-carousel.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="container-fluid row">
      <div id="slideBox" class="slideBox">

        <div class="bd">
          <ul>
              <li>
                <a class="pic" href="#"><img src="assets/images/slides/slide1.jpg" /></a>
              </li>
              <li>
                <a class="pic" href="#"><img src="assets/images/slides/slide2.jpg"/></a>
              </li>
              <li>
                <a class="pic" href="#"><img src="assets/images/slides/slide3.jpg"/></a>
              </li>
              <li>
                <a class="pic" href="#"><img src="assets/images/slides/slide4.jpg"/></a>
              </li>
          </ul>
        </div>

        <div class="hd">
          <ul></ul>
        </div>
      </div>

    </div>
    <div class="container-fluid row btr-home-box white-gz">
      <div class="container">
        <div class="row">
          <div class="btr-floot-title">
            <p class="floot-title-name"><span>产品</span>示例</p>
            <div class="floot-text">凭借诸多的核心技术和创新设计，拜特尔公司获得十多项国家专利！</div>
            <div class="slip"></div>
          </div>
          <div class="btr-slide-content">
            <div class="vm-slider">
              <ul class="vmcarousel-normal">
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide1.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide2.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide3.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide4.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide1.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide2.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/prt-slide3.jpg" alt="">
                    <div class="vm-slider-text">
                      <div>ZHS2400防爆数码相机</div>
                      <div class="slider-tran"></div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid row btr-home-box gray-gz" style="padding: 42px 0 75px 0">
      <div class="container">
        <div class="row">
          <div class="btr-floot-title">
            <p class="floot-title-name">应用<span>方案</span></p>
            <div class="floot-text">凭借诸多的核心技术和创新设计，拜特尔公司获得十多项国家专利！</div>
            <div class="slip"></div>
          </div>
          <div class="btr-application-content btr-slide-content">
            <div class="new-menu">
              <ul class="new-menu-inner vmcarousel-second">
                <li class="new-menu-item">
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/appli1.jpg">
                    <div class="menu-bottom">
                      <div class="menu-bottom-inner">防爆照相摄像</div>
                    </div>
                  </a>
                </li>
                <li class="new-menu-item">
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/appli2.jpg">
                    <div class="menu-bottom">
                      <div class="menu-bottom-inner">防爆通讯</div>
                    </div>
                  </a>
                </li>
                <li class="new-menu-item">
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/appli3.jpg">
                    <div class="menu-bottom">
                      <div class="menu-bottom-inner">防爆智能终端和数据处理方案</div>
                    </div>
                  </a>
                </li>
                <li class="new-menu-item">
                  <a href="javascript:;">
                    <img src="assets/images/product-slides/appli4.jpg">
                    <div class="menu-bottom">
                      <div class="menu-bottom-inner">防爆仪器仪表</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid row btr-home-box white-gz">
      <div class="container">
        <div class="row">
          <div class="btr-floot-title">
            <p class="floot-title-name">公司<span>介绍</span></p>
            <div class="floot-text">培养健康、环保的行为方式，让环保意识贯穿我们的工作、生活当中！</div>
            <div class="slip"></div>
          </div>
          <div class="btr-company-content">
            <img class="company-bg" src="assets/images/index_bg.jpg">
            <div class="company-con flex-c-m">
              <div class="flex-item">
                <div class="company-logo"><img src="assets/images/icons/company_logo.png"></div>
                <div class="company-box">
                  <div>安全、质量、效率！SAFER BETTER FASTER！</div>
                  <div>上海拜特尔安全设备有限公司成立于2005年5月，以"安全、质量、效率"为经营理念，遵循"稳健、务实、双赢"的工作原则，注重构建富有知识性、高素质的员工团队，拥有自已的研发、设计、加工生产、市场销售、售后服务专业团队，以客户需求为导向，不断为客户提供前瞻性、高性价比的专业便携式防爆设备，逐步稳健成长为领先的便携式防爆设备专业品质供应商！</div>
                  <div>——不仅注重安全</div>
                </div>
                <a href="javascript:;" class="company-btn">查看更多</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid row btr-home-box gray-gz">
      <div class="container">
        <div class="row">
          <div class="btr-floot-title">
            <p class="floot-title-name">友情<span>链接</span></p>
            <div class="floot-text">全面提升企业的核心竞争力，为钢铁企业的发展进步做出贡献</div>
            <div class="slip"></div>
          </div>
          <div class="btr-application-content btr-slide-content">
            <div class="friend-link-slider">
              <ul class="vmcarousel-friend">
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link1.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link2.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link3.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link4.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link5.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link6.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link3.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link4.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link5.jpg" alt="">
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <img src="assets/images/friendship-link/friend_link6.jpg" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
    <script type="text/javascript" src="assets/js/TouchSlide.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.vm-carousel.min.js"></script>
    <script type="text/javascript">
      // banner轮播图,支持滑动
      TouchSlide({
        slideCell: "#slideBox",
        titCell: "#slideBox .hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: "#slideBox .bd ul",
        effect: "leftLoop",
        delayTime: 500,
        autoPage: true,//自动分页
        autoPlay: true //自动播放
      });
      // 产品示例轮播图,判断如果屏幕小于768(移动设备),则一张一张轮播,
      function orientationChange() {
        if ($(window).width() <= 768) {
          $('.vmcarousel-normal, .vmcarousel-second, .vmcarousel-friend').vmcarousel({
            start_item: 0,
            autoplay: false,
            min_items_to_show: 1,
            items_to_slide: 1
          });
        } else {
          // 产品示例,展示4张,4张4张轮播
          $('.vmcarousel-normal').vmcarousel({
            start_item: 0,
            autoplay: false,
            infinite: false,
            min_items_to_show: 4,
            items_to_slide: 4
          });
          // 友情链接,展示6张,3张3张轮播
          $('.vmcarousel-friend').vmcarousel({
            start_item: 0,
            autoplay: false,
            infinite: false,
            min_items_to_show: 6,
            items_to_slide: 3
          });
        }
      }
      // window.addEventListener("resize", orientationChange, false);
      orientationChange()
    </script>
  </body>
</html>
