<!DOCTYPE html>
<html>
  <head>
    <title>营销合作</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/market-coopera.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li class="active">营销合作</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">营销合作</div>
        </div>

        <div class="news-pages">
          <div class="market-list">
            <div class="market-item" style="background-image: url('assets/images/marketCoopera/coo_bg.jpg')">
              <div class="col-xs-12 col-sm-4">
                <div class="market-pic"><img src="assets/images/marketCoopera/coo1.jpg" alt=""></div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="market-right-box">
                  <div class="market-box-main">
                    <div class="market-right-title">
                      <div class="right-title-icons icon-protalk"></div>
                      <span>产品咨询与采购</span>
                    </div>
                    <div class="market-right-text">
                      <p>防爆相机和防爆摄像机咨询热线：</p>
                      <p>王小姐  Tel：021-6408 4852</p>
                    </div>
                    <div class="clearfix">
                      <p>防爆手机、防爆平板和防爆PDA咨询热线：</p>
                      <p>
                        <span class="block-phone">华小姐   Tel：021-6408 6276&nbsp;</span>
                        <span class="block-phone">MP：151-2103-6271&nbsp;&nbsp;</span>
                        <span class="block-phone">QQ：2106640540</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="market-item" style="background-image: url('assets/images/marketCoopera/coo_bg.jpg')">
              <div class="col-xs-12 col-sm-4">
                <div class="market-pic"><img src="assets/images/marketCoopera/coo2.jpg" alt=""></div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="market-right-box">
                  <div class="market-box-main">
                    <div class="market-right-title">
                      <div class="right-title-icons icon-project"></div>
                      <span>销售代理和项目合作</span>
                    </div>
                    <p>拜特尔公司始终坚持安全、优质、稳健！在便携式防爆设备市场细心耕耘！</p>
                    <p>我们始终重视合作伙伴！保护他们的有效付出！</p>
                    <p>公司目前产品包含四类：防爆照相摄像、防爆智能终端、防爆智能通讯、防爆仪器仪表</p>
                    <p>产品在石油化工、制药、军工、煤矿、核电、政府安全监管、燃气煤气等市场应用广泛！</p>
                    <p>如果贵司有市场客户基础，或者有类似的项目合作，欢迎咨询！合作共赢！</p>
                    <p>联系人：华小姐  <span class="block-phone">MP：151-2103-6271  ！</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="market-item" style="background-image: url('assets/images/marketCoopera/coo_bg.jpg')">
              <div class="col-xs-12 col-sm-4">
                <div class="market-pic"><img src="assets/images/marketCoopera/coo3.jpg" alt=""></div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="market-right-box">
                  <div class="market-box-main">
                    <div class="market-right-title">
                      <div class="right-title-icons icon-hezuo"></div>
                      <span>OEM合作</span>
                    </div>
                    <p>上海拜特尔安全设备有限公司成立于2005年5月。经过十多年完善，已初步建立一支成熟的专业团队。产品质量稳定，售后服务完善。<br/>如果阁下有意向OEM合作，欢迎咨询合作！联系人：丁先生   <span class="block-phone">MP：135-6466-2218</span>拜特尔公司将提供配套服务，包括相关防爆认证资料准备、认证指导、产品研制、产品加工、售后服务等！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
