<!DOCTYPE html>
<html>
  <head>
    <title>Expda1701防爆智能终端PDA正式上市！</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/news-detail.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li><a href="#">新闻中心</a></li>
          <li class="active">Expda1701防爆智能终端PDA正式上市！</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">Expda1701防爆智能终端PDA正式上市！
            <div class="news-detail">
              <div class="news-time">2016-5-27</div>
            </div>
          </div>
          <div class="news-pages">
            <div class="news-detail-main">
              <p>Expda1701防爆智能终端PDA正式上市！</p>
              <p>Expda1701是我公司在多年防爆产品研发经验基础上，结合行业应用需求，精心打造的一款可单手操作、轻薄便携、高性能、高稳定、坚固耐用、并满足高负荷应用的安卓防爆手持终端。</p>
              <p>Expda1701防爆智能终端PDA通过化工防爆认证，化工防爆标志：Ex ib IIC T4 Gb，可在化工1区、2区危险环境中使用。</p>
              <p class="news-img"><img src="assets/images/news/newsdetailimg.png"></p>
              <p>创新优势： 防爆标志：Ex ib IIC T4 Gb、Android5.1操作系统、2GB运行内存+16G机身内存、全网通移动/联通/电信4G网络、一维/二维高级图像扫描、GPS、北斗、GLONASS（三合一）、RFID、NFC读写、4英寸触屏电容屏幕+物理按键u、4000mAh本安型安全锂离子充电电池、IP67防尘防水，1.5m防摔，-20℃防冻m）防震（2.1m）防冻（-10℃）防尘，防护更全面！</p>
              <div class="pre">
                <p>咨询热线：</p>
                <p>华小姐  Tel：021-6408 6276   MP：1512-1036-271  QQ：2106640540</p>
                <p>性能卓越！我们更懂得客户需求！</p>
                <p>拜特尔-全球专业的安全设备品质供应商之一！</p>
                <p>上海拜特尔安全设备有限公司</p>
                <p>2016年11月</p>
              </div>
            </div>
            <div class="pages-edit row">
              <div class="col-xs-12 col-sm-8">
                <div class="item-rows">
                  <a href="javascript:;" class="edit-btn pre-wz">上一篇</a>
                  <div class="edit-title">销售工程师招聘启事</div>
                </div>
                <div class="item-rows">
                  <a href="javascript:;" class="edit-btn pre-wz">下一篇</a>
                  <div class="edit-title">中石化项目中标喜讯</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="item-right-rows">
                  分享：<a href="javascript:;" class="iconfont icon-weibo-circle"></a><a href="javascript:;" class="iconfont icon-wechatpay"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
