<!DOCTYPE html>
<html>
  <head>
    <title>新闻中心</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/news.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li class="active">新闻中心</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">新闻中心</div>
        </div>
        <div class="news-content news-pages">
          <div class="news-main-title">
            <div class="news-main-pic"><img src="assets/images/news/new-pic.jpg" alt=""></div>
            <div class="news-main-con">
              <a href="javascript:;" class="news-con-title">热烈祝贺公司乔迁新址</a>
              <div class="news-con-text">上海拜特尔安全设备有限公司自2005年成立以来，规模逐步扩大，公司于2017年3月25日乔迁新址：上海市松江区江田东路185号（宏亿创新科技园）9幢306室。业务电话和QQ不变。感谢新老客户对我们支持！</div>
              <div class="news-time">2016-5-27</div>
            </div>
          </div>
          <div class="news-main clearfix">
            <a href="javascript:;" class="news-item col-md-6 col-xs-12">
              <div class="news-item-inner">
                <div class="news-inner-time">
                  <div class="inner-time-box">
                    <div class="news-days">16</div>
                    <div class="news-date">04.2016</div>
                  </div>
                </div>
                <div class="news-text">
                  <div class="news-title">2017年春节放假通知</div>
                  <div class="news-detail">2016年对于全球能源与气候变化政策是一个值得纪念的年份。2017年，政策制定者将开始执行旨在削减HFCs的基加利修正案和气候变化巴</div>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="news-item col-md-6 col-xs-12">
              <div class="news-item-inner">
                <div class="news-inner-time">
                  <div class="inner-time-box">
                    <div class="news-days">16</div>
                    <div class="news-date">04.2016</div>
                  </div>
                </div>
                <div class="news-text">
                  <div class="news-title">2017年春节放假通知</div>
                  <div class="news-detail">2016年对于全球能源与气候变化政策是一个值得纪念的年份。2017年，政策制定者将开始执行旨在削减HFCs的基加利修正案和气候变化巴</div>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="news-item col-md-6 col-xs-12">
              <div class="news-item-inner">
                <div class="news-inner-time">
                  <div class="inner-time-box">
                    <div class="news-days">16</div>
                    <div class="news-date">04.2016</div>
                  </div>
                </div>
                <div class="news-text">
                  <div class="news-title">2017年春节放假通知</div>
                  <div class="news-detail">2016年对于全球能源与气候变化政策是一个值得纪念的年份。2017年，政策制定者将开始执行旨在削减HFCs的基加利修正案和气候变化巴</div>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="news-item col-md-6 col-xs-12">
              <div class="news-item-inner">
                <div class="news-inner-time">
                  <div class="inner-time-box">
                    <div class="news-days">16</div>
                    <div class="news-date">04.2016</div>
                  </div>
                </div>
                <div class="news-text">
                  <div class="news-title">2017年春节放假通知</div>
                  <div class="news-detail">2016年对于全球能源与气候变化政策是一个值得纪念的年份。2017年，政策制定者将开始执行旨在削减HFCs的基加利修正案和气候变化巴</div>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="news-item col-md-6 col-xs-12">
              <div class="news-item-inner">
                <div class="news-inner-time">
                  <div class="inner-time-box">
                    <div class="news-days">16</div>
                    <div class="news-date">04.2016</div>
                  </div>
                </div>
                <div class="news-text">
                  <div class="news-title">2017年春节放假通知</div>
                  <div class="news-detail">2016年对于全球能源与气候变化政策是一个值得纪念的年份。2017年，政策制定者将开始执行旨在削减HFCs的基加利修正案和气候变化巴</div>
                </div>
              </div>
            </a>
          </div>
          <div class="news-pages-bottom clearfix">
            <div class="news-page-box">
              <ul class="clearfix">
                <li class="active"><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">5</a></li>
                <li class="space"></li>
                <li><a href="javascript:;">10</a></li>
              </ul>
            </div>
            <div class="news-page-next clearfix">
              <a href="javascript:;" class="news-page-pre">上一页</a>
              <a href="javascript:;" class="news-page-next active">下一页</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
    <script type="text/javascript">
      $(function() {
        var newsLength = $('.news-main .news-item').length
        if (newsLength < 6) {
          $('.news-pages-bottom').hide()
        } else {
          $('.news-pages-bottom').show()
        }
      })
    </script>
  </body>
</html>
