<!DOCTYPE html>
<html>
  <head>
    <title>ZHS2400防爆数码相机</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/productDetail.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vm-carousel.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li><a href="#">产品与方案</a></li>
          <li><a href="#">防爆照相机</a></li>
          <li class="active">ZHS2400防爆数码相机</li>
        </ol>
        <div class="news-pages">
          <div class="detail-head container row">
            <div class="col-xs-12 col-sm-5 row left-inner">
              <div class="left-box">
                <div class="detail-img-box"><img src="assets/images/goods-detail/googs-detail-img.jpg"></div>
                <div class="detail-small-img-box">
                  <ul class="vmcarousel-detail">
                    <li class="active"><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img1.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img2.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img3.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img1.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img2.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="assets/images/goods-detail/small-goos-img3.jpg" alt=""></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 row">
              <div class="right-box">
                <div class="title-head"><img src="assets/images/goods-detail/goods-titile.jpg"></div>
                <div class="hot-line-box">
                  <div class="hot-title">咨询热线：（周一至周五AM9:00-PM18:00）  </div>
                  <ul class="icon-box">
                    <li class="icon-item icon-content">联系人：华小姐</li>
                    <li class="icon-item icon-telphone">Tel：021-6408 4852/ 6408 6276</li>
                    <li class="icon-item icon-phone">MP：1512-1036-271</li>
                    <li class="icon-item icon-qq">QQ：2106640540</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-body">
            <div class="detail-body-head">
              <ul class="clearfix detail-tab" id="myTabs">
                <li><a href="javascript:;">产品概述</a></li>
                <li class="active"><a href="javascript:;">创新优势</a></li>
                <li><a href="javascript:;">技术规格</a></li>
                <li><a href="javascript:;">相关证书</a></li>
                <li><a href="javascript:;">配件</a></li>
                <li><a href="javascript:;">下载中心</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <!-- 产品概述 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-title">主要性能参数</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/pro-gk.jpg" alt=""></div>
                </div>
              </div>
              <!-- 创新优势 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-title">更安全</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/detail1.jpg" alt=""></div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">更轻巧</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/detail2.jpg" alt=""></div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">电池使用时间更长！</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/detail3.jpg" alt=""></div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">防护更全面 适应恶劣环境</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/detail4.jpg" alt=""></div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">数据传输更加便捷</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/detail5.jpg" alt=""></div>
                </div>
              </div>
              <!-- 技术规格 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-title">主要性能参数</div>
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/jishu.jpg" alt=""></div>
                </div>
              </div>
              <!-- 相关证书 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/zhengshu.jpg" alt=""></div>
                </div>
              </div>
              <!-- 配件 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-inner"><img src="assets/images/goods-detail/peijian.jpg" alt=""></div>
                </div>
              </div>
              <!-- 下载中国女性 -->
              <div class="tab-item">
                <div class="detail-body-main">
                  <div class="detail-main-title">产品资料</div>
                  <div class="detail-down-inner clearfix">
                    <a href="javascript:;" class="inner-icon icon-pdf col-sm-4 col-xs-12">Excam1201本安型防爆相机</a>
                  </div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">防爆证书</div>
                  <div class="detail-down-inner clearfix">
                    <a href="javascript:;" class="inner-icon icon-pdf col-sm-4 col-xs-12">Excam1201本安型防爆相机</a>
                    <a href="javascript:;" class="inner-icon icon-pdf col-sm-4 col-xs-12">Excam1201本安型防爆相机</a>
                    <a href="javascript:;" class="inner-icon icon-pdf col-sm-4 col-xs-12">Excam1201本安型防爆相机</a>
                  </div>
                </div>
                <div class="detail-body-main">
                  <div class="detail-main-title">参考资料</div>
                  <div class="detail-down-inner clearfix">
                    <a href="javascript:;" class="inner-icon icon-pdf col-sm-4 col-xs-12">Excam1201本安型防爆相机</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
    <script type="text/javascript" src="assets/js/jquery.vm-carousel.min.js"></script>
    <script type="text/javascript">
    if ($(window).width() <= 768) {
      $('.vmcarousel-detail,.detail-tab').vmcarousel({
        start_item: 0,
        autoplay: false,
        infinite: false,
        min_items_to_show: 2,
        items_to_slide: 1
      });
    } else {
      $('.vmcarousel-detail').vmcarousel({
        start_item: 0,
        autoplay: false,
        infinite: false,
        min_items_to_show: 3,
        items_to_slide: 1
      });
    }
    $('.vmcarousel-detail li').on('click', function() {
      $(this).addClass('active').siblings().removeClass('active');
    })
    /*tab选项卡*/
    jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){
      var $tab_menu=$(tabBar);
      // 初始化操作
      $tab_menu.removeClass(class_name);
      $(tabBar).eq(i).addClass(class_name);
      $(tabCon).hide();
      $(tabCon).eq(i).show();

      $tab_menu.on(tabEvent,function(){
        $tab_menu.removeClass(class_name);
        $(this).addClass(class_name);
        var index=$tab_menu.index(this);
        $(tabCon).hide();
        $(tabCon).eq(index).show();
      });
    }
    $.Huitab('#myTabs li', '.tab-content .tab-item', 'active', 'click', 0)
    </script>
  </body>
</html>
