<!DOCTYPE html>
<html>
  <head>
    <title>常见问题</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/question.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li><a href="#">服务支持</a></li>
          <li class="active">常见问题</li>
        </ol>
        <div class="progress-box">
          <div class="progress-title">常见问题</div>
        </div>

        <div class="news-pages">
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
