<!DOCTYPE html>
<html>
  <head>
    <title>售后服务</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="assets/css/productsSolutions.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <ol class="breadcrumb">
          <li>当前位置：</li>
          <li><a href="#">首页</a></li>
          <li class="active">产品与方案</li>
        </ol>
        <div class="news-pages clearfix">
          <div class="pro-solution-slide">
            <div class="slide-head">
              <div class="slide-head-center">产品与方案</div>
            </div>
            <dl class="slide-dl">
              <dt><a href="javascript:;">防爆照相摄像</a></dt>
              <dd><a href="javascript:;">防爆照相机</a></dd>
              <dd><a href="javascript:;">防爆照相机</a></dd>

              <dt><a href="javascript:;">防爆通讯</a></dt>
              <dd><a href="javascript:;">防爆智能手机</a></dd>
              <dd><a href="javascript:;">防爆智能手机</a></dd>
              <dd><a href="javascript:;">防爆智能手机</a></dd>

              <dt><a href="javascript:;">防爆智能终端</a></dt>
              <dd><a href="javascript:;">防爆PAD平板</a></dd>
              <dd><a href="javascript:;">防爆PDA终端</a></dd>

              <dt><a href="javascript:;">防爆仪器仪表</a></dt>
            </dl>
          </div>
          <div class="pro-solution-contetn">
            <div class="solut-box">
              <div class="conten-row clearfix">
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">ZHS2400防爆数码相机</div>
                      <div class="inner-text">化工IIC级防爆认证，防爆标志：Ex ib IIC T4 Gb；MA煤安防爆认证：Ex ib I Mb...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">ZHS2400防爆数码相机</div>
                      <div class="inner-text">化工IIC级防爆认证，防爆标志：Ex ib IIC T4 Gb；MA煤安防爆认证：Ex ib I Mb...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">ZHS2400防爆数码相机</div>
                      <div class="inner-text">化工IIC级防爆认证，防爆标志：Ex ib IIC T4 Gb；MA煤安防爆认证：Ex ib I Mb...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">ZHS2400防爆数码相机</div>
                      <div class="inner-text">化工IIC级防爆认证，防爆标志：Ex ib IIC T4 Gb；MA煤安防爆认证：Ex ib I Mb...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">ZHS2400防爆数码相机</div>
                      <div class="inner-text">化工IIC级防爆认证，防爆标志：Ex ib IIC T4 Gb；MA煤安防爆认证：Ex ib I Mb...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
                <div class="rows-item">
                  <a href="javascript:;">
                    <div class="content-pic"><img src="assets/images/product-slides/productandresolute/applica.jpg"></div>
                    <div class="content-inner">
                      <div class="inner-title">应用方案</div>
                      <div class="inner-text">为了规范危险品安全管理法治秩序，强化安全生产意识，各安全监督、执法部门和危险品的生产...</div>
                      <div class="inner-btn">查看更多</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news-pages-bottom clearfix">
                <div class="news-page-box">
                  <ul class="clearfix">
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li class="space"></li>
                    <li><a href="javascript:;">10</a></li>
                  </ul>
                </div>
                <div class="news-page-next clearfix">
                  <a href="javascript:;" class="news-page-pre">上一页</a>
                  <a href="javascript:;" class="news-page-next active">下一页</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>
    <% include partials/scripts %>
  </body>
</html>
