<div class="footer" style="background-image: url('assets/images/foot/foot_bg.jpg')">
  <div class="container no-padding">
    <div class="row btr-foot-row">
      <div class="col-sm-3">
        <div class="foot-about">
          <div class="foot-title">关于我们</div>
          <div class="foot-about-content">凭借专业团队和良好的业绩，公司与诸多世界知名品牌成功合作！包括：华为HUAWEI、中兴ZTE、尼康NIKON、SONY索尼、三星SAMSUNG等。</div>
        </div>
      </div>
      <div class="col-sm-3 math-heigth">
        <div class="web-map">
          <div class="foot-title">网站地图</div>
          <div class="foot-map-content">
            <ul class="map-ul-left">
              <li><a href="javascript:;">产品与方案</a></li>
              <li><a href="javascript:;">营销合作</a></li>
              <li><a href="javascript:;">服务支持</a></li>
              <li><a href="javascript:;">客户案例</a></li>
            </ul>
            <ul class="map-ul-right">
              <li><a href="javascript:;">新闻中心</a></li>
              <li><a href="javascript:;">关于我们</a></li>
              <li><a href="javascript:;">联系我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3 show">
        <div class="foot-share">
          <div class="foot-title">分享</div>
          <div class="share-icons">
            <div class="share-icon iconfont icon-wechatpay"></div>
            <div class="share-icon iconfont icon-weibo-circle"></div>
            <div class="share-icon iconfont icon-facebook"></div>
            <div class="share-icon iconfont icon-tuite_twitter"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="foot-share">
          <div class="foot-title">关注我们</div>
          <div class="ercode-icons">
            <div class="ercode-item"><img src="assets/images/foot/ercode.jpg"></div>
            <div class="ercode-item"><img src="assets/images/foot/ercode.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-bottom">
    <div class="gongan">
      CopyRight ©2012 版权所有 上海拜特尔安全设备有限公司 All rights reserved. 沪ICP备06000578号-1
      <img src="assets/images/foot/beiantubiao.png">
      沪公网安备 31010602000538号
    </div>
  </div>
</div>
